<div class="hero">
  <div class="hero-inner">
      <div class="hero-copy">
      <h1>Agape Ladies Sunday School Class</h1>
      <p>Brentwood Baptist Church</p>
    </div>
  </div>
</div>

<div class="outer_links">
  <div class="links">
    <div class="links_left">
      <ul>
        <li><p><%= link_to "Sunday Lesson", '#' %></p></li>
        <li><p><%= link_to "Prayer Requests", prayers_path %></p></li>
        <li><p><%= link_to "Spiritual Walk", '#' %></p></li>
      </ul>
    </div>

    <div class="links_right">
      <ul>
        <li><p><%= link_to "Everything Social", social_path %></p></li>
        <li><p><%= link_to "Email Directory", emails_path %></p></li>
        <li><p><%= link_to "Brentwood News", 'https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=0CB4QFjAAahUKEwi03sia1tzIAhWIGh4KHRp5A1M&url=http%3A%2F%2Fbrentwoodbaptist.com%2F&usg=AFQjCNHAg46zPxAd7iqPnhniLtFJTC2iUw&sig2=ACHzsrJ2A69x9GKvcJS7nQ&bvm=bv.105841590,d.dmo' %></p></li>
      </ul>
    </div>
  </div>
</div>