<container class="top_image">
  <%= image_tag("bladesOfGrass.jpg", :alt => "blades of grass") %>
</container>

<div class="add_new">
<%= button_to "Add a new prayer request", new_prayer_path, :class => "button" "main", :method => :get %>
</div>

<div class="request_area">
  <% @prayers.each do |prayer| %>
    <div class="prayer_requests">
      PLEASE PRAY FOR<br>
      <%= prayer.title %>:&nbsp;&nbsp;<%= prayer.content %><br>
      <p class="posted_by">Posted by:&nbsp;&nbsp;<%= prayer.postedby %></p>
    </div>
  <% end %>
</div>
