<header class="header">
  <nav>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, id: "flash#{name}" %>
    <% end %>

    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Home",    root_path %></li>
      <li><%= link_to "Help",    help_path %></li>
      <% if current_user %>
        <%= link_to "Log Out", logout_path %>
      <% else %>
        <li><%= link_to "Sign Up", signup_path %></li>
        <li><%= link_to "Log In", login_path %></li>
      <% end %>
    </ul>
  </nav>
</header>